@use "../../SCSS/" as *;

.favorite{
    &__table{
        table{
            border: 1px solid #ddd;
            tbody{
                tr{
                    td{
                        vertical-align: middle;
                        padding: 15px 10px;
                        &.td-btn-close{
                            width: 100px;
                        }
                        &.td-image{
                            border-left: 1px solid #ddd;
                            width: 120px;
                            padding-left: 30px;
                        }
                        &.td-add-cart{
                            border-left: 1px solid #ddd;
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }
    &__image{
        border-radius: 6px;
        border: 1px solid #ddd;
        width: 80px;
        height: 80px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        a{
            font-family: $font-semiBold;
            font-size: 16px;
            line-height: 24px;
            color: #000;
            margin-bottom: 20px;
            &:hover{
                color: $main-color;
            }
        }
        p{
            font-size: 16px;
            line-height: 24px;
            font-family: $font-medium;
            color: #000;
            del{
                color: #ddd;
                margin-right: 5px;
            }
            ins{
                color: #ff4545;
                text-decoration: none;
                font-family: $font-medium;
            }
        }
    }
    &__btn-delete{
        font-size: 13px;
        line-height: 20px;
        color: #a3a3a3;
        background-color: transparent;
        display: none;
    }
    &__btn-cart{
        padding: 5px 10px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        background-color: $main-color;
        &:hover{
            background-color: $main-color-hover;
        }
    }
}

@media screen and (max-width: 991px) {
    .favorite{
        &__table{
            table{
                tbody{
                    tr{
                        td{
                            &.td-btn-close{
                                width: 80px;
                            }
                            &.td-image{
                                width: 110px;
                                padding-left: 20px;
                            }
                            &.td-add-cart{
                                border-left: 1px solid #ddd;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .favorite{
        &__table{
            table{
                tbody{
                    tr{
                        display: flex;
                        flex-wrap: wrap;
                        td{
                            border-bottom: none;
                            padding: 10px;
                            &.td-btn-close{
                                width: 50px;
                                display: none;
                            }
                            &.td-image{
                                width: auto;
                                padding-left: 10px;
                                padding-right: 5px;
                                border-left: none;
                            }
                            &.td-add-cart{
                                border-left: none;
                                width: 100%;
                                border-top: 1px dashed #ddd;
                                border-bottom: 1px solid #ddd;
                                padding-bottom: 15px;
                                padding-left: 10px;
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        
                        &:last-child{
                            td{
                                &.td-add-cart{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__image{
            width: 80px;
            height: 80px;
        }
        &__content{
            height: 100%;
            @include flex(center,start);
            flex-direction: column;
            a{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
            }
            p{

            }
        }
        &__btn-delete{
            display: block;
        }
    }
}