.card-top {
  // width: 100%;
  margin: 1rem;
}

.text-card {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f89897;
}

.card-bottom {
  background-color: #709bf8;
}

.content {
  display: flex;
  justify-content: space-between;
}

.text-white {
  color: #fff;
}
