@use "../../../SCSS/" as *;

.admin-header{
    background-color: #001529;
    padding: 0 28px;
    @include flex(space-between, center);
    h1{
        font-family: $font-bold;
        font-size: 2rem;
        line-height: 3rem;
        color: white;
        text-transform: uppercase;
        margin-bottom: 0;
        span{
            color: $main-color;
            font-family: $font-bold;
        }
    }
}
