@use "../../../SCSS/" as *;

.admin-header{
    background-color: #001529;
    height: 80px;
    padding: 0 28px;
    @include flex(start, center);
    h1{
        font-family: $font-bold;
        font-size: 42px;
        line-height: 60px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 0;
        span{
            color: $main-color;
            font-family: $font-bold;
        }
    }
}