@use "../SCSS/" as *;

.ant-layout-sider {
    width: 256px !important;
    max-width: none !important;
    flex-basis: auto !important;
}

.admin-heading {
    font-family: $font-medium;
    font-size: 30px;
    line-height: 52px;
    color: #001529;
    margin-bottom: 20px;
}

.dashboard {
    h5{
        font-family: $font-medium;
        margin-bottom: 20px;
    }
}

.dashboard-h6 {
    @include flex(center, start);
    flex-direction: column;
    height: 100%;
    h4{
        font-family: $font-medium;
        color: #ff3a67;
        margin-bottom: 0;
    }
    p{
        margin-bottom: 0;
        font-size: 14px;
    }
}

.dashboard-add-content{
    h6{
        font-family: $font-medium;
        margin-bottom: 5px;
    }
    p{
        margin-bottom: 0;
        font-size: 12px;
    }
}
.dashboard-info{
    @include flex(space-between, start);
    p{
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px
    }
    h3{
        margin-bottom: 0;
        font-family: $font-medium;
    }
}

.admin-login {
    @include flex(center, center);
    height: calc(100vh);
    background-color: #001529;
    padding-bottom: 100px;

    h2 {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 30px;
        color: #fff;
        font-family: $font-semiBold;
        text-transform: uppercase;
        text-align: center;
    }
}

.login-form {
    width: 350px;
}

#normal_login .login-form-button {
    width: 100%;
}

table {
    img {
        max-width: 150px;
    }
}

.btn-status {
    text-transform: capitalize;

    &:hover {
        color: #000 !important;
        border-color: #000 !important;
    }
}

.status {
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #73737b;
    color: #73737b;
    font-size: 11px;
    line-height: 16px;
    text-transform: capitalize;

    &.pending {
        background-color: #fcdf78;
    }

    &.processing {
        background-color: #cee4f3;
    }

    &.completed {
        background-color: #ebf6d7;
    }

    &.cancelled {
        background-color: #f98c93;
    }
}

// #f8ac5a

.btn-pending {
    background-color: #fcdf78 !important;
}

.btn-processing {
    background-color: #cee4f3 !important;
}

.btn-completed {
    background-color: #ebf6d7 !important;
}

.btn-cancelled {
    background-color: #f98c93 !important;
}

.btn-change {
    float: right;
    display: block;
    margin-top: 10px;
}