$font-text: Poppins-Regular, sans-serif;
$font-medium: Poppins-Medium, sans-serif;
$font-semiBold: Poppins-SemiBold, sans-serif;
$font-bold: Poppins-Bold, sans-serif;

$bg-body: #fff;
$main-color: #ff6f00;
$main-color-hover: #cc5900;
$text-color: #000;
$text-blur-color: #a3a3a3;